# System Settings
PORT=7777
NODE_ENV=development

# Bungie Developer Portal Credentials
BUNGIE_API_KEY=
BUNGIE_CLIENT_ID=
BUNGIE_CLIENT_SECRET=
BUNGIE_OAUTH_REDIRECT=

# Database Settings
DATABASE_URL="file:./dev.db"